#model-code {
	margin: 10px 0px;
	text-align: justify;
	padding: 30px;
}
#train-code {
	margin: 10px 0px;
	border-right: 2px solid #bdbebf;
	border-left: 2px solid #bdbebf;
	text-align: justify;
	padding: 30px;
}
#compile-code {
	margin: 10px 0px;
	text-align: justify;
	padding: 30px;
}
.row {
	border-bottom: 2px solid #f24333;
	margin: 0px !important;

	p {
		margin: 0px;
	}
}
