<div class="row justify-content-center">
    
            <div class="col-4"  id="model-code">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui rerum expedita explicabo iure odit et veniam amet fugit, nam optio aut commodi illum. Fugit eligendi omnis doloribus labore error?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui rerum expedita explicabo iure odit et veniam amet fugit, nam optio aut commodi illum. Fugit eligendi omnis doloribus labore error?</p>
            </div>
            <div class="col-4"  id="train-code">
                {{ this.test }}
            </div>
            <div class="col-4"  id="compile-code">
                {{ t }}
            </div>
        
</div>
