<div class="row justify-content-around">
    
    <div class="col-3 border mt-1 generales">
        <h5>Parámetros Generales</h5>
        <div>
            <h6>Learning ratio</h6>
            <input type="number" class="form-control" [(ngModel)]="learning_ratio">
        </div>
        <div>
            <h6>Ciclos/Epochs</h6>
            <input type="number" class="form-control" name="epochs" [(ngModel)]="epochs">
        </div>
        <div>
            <h6>Metrica</h6>
            <select class="form-control" name="metrics" [(ngModel)]="metrics">
                <option>Accuracy</option>
                
            </select>
        </div>

        <div>
            <h6>Cost Function</h6>
            <select class="form-control" name="cost_function" [(ngModel)]="cost_function">
                <option>Cross-Entropy</option>
                
            </select>
        </div>
        <div>
            <h6>Batch Size</h6>
            <div>

                <input type="checkbox" class="form-check-input" value="batch_size" [(ngModel)]="batch_check">
                <input type="number" class="form-control " [(ngModel)]="batch_size">
            </div>
        </div>
        
    </div>

    <div class="col-8 table-responsive">

        <table id="net-table" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Units</th>
                    <th scope="col">Activation</th>
                    <th scope="col">
                        <button type="button" class="btn btn-primary" (click)="newLayer()">Nueva Capa </button>
                    </th>
                </tr>
            </thead>
            <tbody id="net-table-body">

                <tr *ngFor="let layer of net; let i = index">
                    <th>{{ i }}</th>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value, 'type', i)">
                            <option>Flatten</option>
                            <option>Dense</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" (change)="onChange($event.target.value, 'units', i)">
                    </td>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value, 'activation', i)">
                            <option>Sigmoid</option>
                            <option>Linear</option>
                            <option>ReLU</option>
                            <option>Softmax</option>
                        </select>
                    </td>
                    <td><i class="fas fa-times" (click)="removeLayer(i)"></i></td>
                    
                </tr>
                
                
            </tbody>
        </table>
        
    </div>
    
</div>
