<div class="row justify-content-around">

    <div class="col-12 col-md-3 mt-1 mb-1 generales">
        <h5>Parámetros Generales</h5>
        <div>
            <h6>Learning ratio</h6>
            <input type="number" step=".01" class="form-control" [(ngModel)]="learning_ratio"
                (change)="actualizarCodigo()">
        </div>
        <div>
            <h6>Epochs (Ciclos)</h6>
            <input type="number" class="form-control" name="epochs" [(ngModel)]="epochs" (change)="actualizarCodigo()">
        </div>
        <div>
            <h6>Métrica</h6>
            <select class="form-control" name="metrics" [(ngModel)]="metric" (change)="actualizarCodigo()">
                <option *ngFor="let metric of metricas">{{metric}}</option>
                <!-- <option>Accuracy</option> -->

            </select>
        </div>

        <div>
            <h6>Cost Function</h6>
            <select class="form-control" name="cost_function" [(ngModel)]="cost_function" (change)="actualizarCodigo()">
                <option *ngFor="let loss of loss_functions">{{loss}}</option>

            </select>
        </div>
        <div>
            <h6>Batch Size</h6>
            <div class="input-batch" (change)="actualizarCodigo()">

                <input type="checkbox" class="form-check-input" value="batch_size" [(ngModel)]="batch_check">
                <input type="number" class="form-control " [(ngModel)]="batch_size" [disabled]="!batch_check">
            </div>
        </div>
        <div>
            <h6>Regularización</h6>
            <select name="regularizacion" id="" class="form-control regularizacion" [(ngModel)]="regularization">
                <option>Ninguno</option>
                <option>L1</option>
                <option>L2</option>
            </select>
            <input type="number" step=".01" class="form-control regularizacion ml-1"
                [disabled]="regularization == 'Ninguno'" [(ngModel)]="regularization_ratio">

        </div>

        <button type="button" class="btn btn-primary boton boton-cargar" (click)="recuperarModelo()">Cargar
            Modelo</button>



    </div>

    <div class="col-12 col-md-7 table-responsive">

        <table id="net-table" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Función</th>
                    <th scope="col">
                        <button type="button" class="btn btn-primary boton" (click)="newLayer()">Nueva Capa</button>
                    </th>
                </tr>
            </thead>
            <tbody id="net-table-body">

                <tr *ngFor="let layer of net; let i = index" [ngClass]="{'disabled_layer': i == 0}">

                    <td>{{ i }}</td>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value, 'type', i)"
                            [disabled]="i == 0">
                            <option *ngFor="let tipo of tipos_capas" [selected]="tipo == layer.type">{{tipo}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" (change)="onChange($event.target.value, 'units', i)"
                            [disabled]="i == 0" value={{layer.units}}>
                    </td>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value, 'activation', i)"
                            [disabled]="i == 0">
                            <option *ngFor="let tipo of activations" [selected]="tipo == layer.activation">{{tipo}}
                            </option>
                        </select>
                    </td>
                    <td *ngIf="i != 0"><i class="fas fa-times" (click)="removeLayer(i)"></i></td>

                </tr>


            </tbody>
        </table>

    </div>


</div>

<div class="row justify-content-around entrenamiento">
    <div class="col-11">

        <button type="button" class="btn btn-primary btn-entrenar boton" (click)="entrenar()"
            [disabled]="entrenando">¡Entrenar!</button>
        <button type="button" class="btn btn-primary boton boton-guardar" (click)="guardarModelo()"
            [disabled]="progreso != 100">Guardar</button>
        <div [ngClass]="{'progress train-bar' : true, 'progress-opaco': !entrenando}">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="progreso + '%' "
            aria-valuemin="0" aria-valuemax="100"></div>
            <span>{{progreso}} %</span>
        </div>
        <div [ngClass]="{'datos-accuracy': true, 'progress-opaco': !entrenando}">
            <h6>Accuracy (Conjunto de entrenamiento): {{ trainset_accuracy }}</h6>
            <h6>Accuracy (Conjunto de test): {{ test_accuracy }}</h6>
        </div>
    </div>

</div>

<!-- código equivalente -->
<div class="row justify-content-center codigo">
    <div *ngIf="mostrar_codigo; then mostrarCodigo else noMostrarCodigo"></div>
    <ng-template #mostrarCodigo>
            <div class="col-12 btn-mostrar-codigo">Código -</div>

            <div class="col-12 col-xl-4" id="model-code">
                <p *ngFor="let sentencia of model_code">{{sentencia}}</p>
            </div>
            <div class="col-12 col-xl-4" id="compile-code">
                <div>
        
                    <p *ngFor="let sentencia of compile_code">{{sentencia}}</p>
                </div>
            </div>
            <div class="col-12 col-xl-4" id="train-code">
                <p *ngFor="let sentencia of train_code">{{sentencia}}</p>
            </div>
    </ng-template>
    <ng-template #noMostrarCodigo>
            <div class="col-12 btn-mostrar-codigo">Código -</div>
            
    </ng-template>
    
    
    

</div>

<div class="row justify-content-around mt-1">
    <div class="col-11" id="example-preview">

        <div *ngFor="let item of examples_test; let i = index;" class="prediction-container"
            [style.visibility]="!ejemplos_cargados? 'hidden': 'visible'">
            <canvas class="prediction-canvas" id="canvas{{item}}"></canvas>
            <div *ngIf="ejemplos_cargados">Predicción: {{prediction_nuevas[item]}}</div>
            <div *ngIf="ejemplos_cargados">Real: {{prediction_labels[item]}}</div>
        </div>

    </div>

</div>

<div class="row justify-content-center mt-1">
    <div class="col-11">
        <canvas id="predict-canvas" width="140" height="140"></canvas>
        <canvas id="preview-canvas" width="28" height="28"></canvas>
        <button type="button" class="btn btn-primary ml-1" (click)="clearCanvas()">Clear</button>
        <button type="button" class="btn btn-primary ml-1" (click)="predict()">Predict</button>
        <h5>Predicción: {{ prediction }}</h5>
    </div>
</div>