
<div class="row justify-content-center">
    <div class="col-10">

        <table id="net-table" class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Units</th>
                    <th scope="col">Activation</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="net-table-body">

                <tr *ngFor="let layer of net; let i = index">
                    <th>{{ i }}</th>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value, 'type', i)">
                            <option>Flatten</option>
                            <option>Dense</option>
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" (change)="onChange($event.target.value, 'units', i)">
                    </td>
                    <td>
                        <select class="form-control" (change)="onChange($event.target.value, 'activation', i)">
                            <option>ReLU</option>
                            <option>Softmax</option>
                        </select>
                    </td>
                    <td><i class="fas fa-times" (click)="removeLayer(i)"></i></td>
                    
                </tr>
                
                
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="newLayer()">Nueva Capa </button>
    </div>
</div>

<div class="row justify-content-center mt-2">
    <div class="col-10">
        <button type="button" class="btn btn-primary" (click)="entrenar()">Entrenar!</button>

        <h2>Progreso: {{ progreso }} %</h2>
        <h2>Validation Accuracy final: {{ validation_accuracy }} %</h2>
        <h2>Test Accuracy final: {{ test_accuracy }} %</h2>
        
    </div>
</div>