::-webkit-scrollbar-track {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}
::-webkit-scrollbar {
	background-color: #f5f5f5;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	box-shadow: 0 0 6px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #355261;
}

.row {
	margin: 5px 0px 0px 0px !important;
}

.titulo-seccion,
.btn-mostrar-codigo {
	color: white;
	background-color: #355261;
	font-size: initial;
	text-align: center;
	padding: 5px 0px;
	border-radius: 5px;
}

.btn-mostrar-codigo:hover {
	cursor: pointer;
}

.boton {
	background-color: #a24444;
	border: none;
	box-shadow: none;
}

.btn-info-modal {
	font-size: large;
}

.btn-info-modal:hover {
	cursor: pointer;
}

button:focus {
	outline: none !important;
}

.bodymodal {
	padding: 20px;
	text-align: justify;
}

.bodymodal ul {
	margin: 0;
	padding-inline-start: 20px;
}
// PARAMETROS Y ESTRUCTURA DE LA RED
p {
	margin:0;
}

.div-select-tipo {
	padding: 1px 0px;
	display: inline-block;
}

.select-tipo-red {
	width: 100%;
	border: none;
	background: #a24444;
	border-radius: 4px;
	padding: 6px 12px;
	color: white;
}

.select-tipo-red:hover {
	cursor: pointer;
}

.select-tipo-red:focus {
	outline: none !important;
	border: none !important;
}

.select-tipo-red option {
	background: white;
	color: black;
}

.generales {
	padding: 10px 15px;
}

.generales h6 {
	margin: 0px;
	padding: 10px 0px;
}

.form-control {
	// border: none;
	box-shadow: none;
	border: 1px solid #3552614f;
	// border-bottom: 1px solid #355261;
	// border-left: 1px solid #355261;
	// border-radius: 0px;
	// border-bottom-left-radius: 5px;
	// background: linear-gradient(45deg, #f9f9f9, #ebebeb);
}

.form-control:focus {
	outline: none !important;
}

.input-batch .form-control {
	margin-bottom: 5px;
}

.input_file {
	position: absolute;
	left: 0;
	opacity: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

.labelImportar {
	background-color: #a24444;
	color: white;
	position: relative;
	top: 1px;
	width: 100%;
	text-align: center;
	border: 1px solid #ebebeb;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding: 6px 0;
}

.labelImportar:hover {
	cursor: pointer;
}

.div-btn-cargar {
	padding: 0;
	display: inline-block;
	margin-top: 5px;
}

.boton-guardar-modelo {
	width: 100%;
	text-align: center;
	border: 1px solid #ebebeb;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

@media (max-width: 767px) {
	.boton-guardar-modelo {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}

	.labelImportar {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}
}

// .boton-cargar-modelo {
// 	width: 100%;
// 	text-align: center;
// 	border: 1px solid #ebebeb;
// 	border-bottom-left-radius: 0px;
// 	border-top-left-radius: 0px;
// }

.tabla-red {
	width: 100%;
	table-layout: unset;
	//table-layout: fixed;
	border: none;
}

@media (min-width: 576px) {
	.tabla-red {
		table-layout: fixed;
	}
}

.tabla-red tr {
	text-align: center;
}

.tabla-red th,
.tabla-red td {
	vertical-align: middle;
	border-top: none;
	padding: 10px 10px;
}

.tabla-red thead tr th:first-child,
.tabla-red tbody tr td:first-child {
	width: 5%;
}

.tabla-red thead tr th:last-child,
.tabla-red tbody tr td:last-child {
	width: 20%;
}

.disabled_layer,
.disabled_conv_layer,
.disabled_conv_layer {
	opacity: 0.7;
}

.fa-times:hover,
.fa-chevron-up:not(.disabled_move):hover,
.fa-chevron-down:not(.disabled_move):hover {
	color: red;
	cursor: pointer;
}

.disabled_move {
	opacity: 0.4;
}

option:disabled {
	color: #b7b5b5;
}

// ENTRENAMIENTO

.no-data-text {
	font-weight: bold;
}

.btn-entrenar {
	display: inline-block;
	margin: 10px 10px 10px 0px;
}

.tabla-entrenamiento {
	//table-layout: fixed;
	table-layout: unset;
	text-align: center;
	color: black;
}

@media (min-width: 576px) {
	.tabla-entrenamiento {
		table-layout: fixed;
	}

	.div-charts {
		padding: 0;
	}

	.div-cont-canvas {
		padding: 0;
	}
}

.tabla-entrenamiento tbody {
	border-bottom: 1px solid #dee2e6;
}

.progress-opaco {
	opacity: 0.4;
}

.datos-accuracy {
	margin: 10px 0px;
	//display: inline-block;
}

.dato {
	width: 100%;
}

.div-charts {
	text-align: center;
}

.div-cont-canvas {
	display: inline-block;
}

// CODIGO EQUIVALENTE

.codigo {
	text-align: center;
	font-size: small;
	margin-bottom: 10px !important;
}

.codigo p {
	margin: 5px 0px;
	text-align: start;
	white-space: pre;
}

.container-codigo {
	overflow: hidden;
}

#model-code {
	margin: 0;
	padding: 15px;
	overflow-x: auto;
}

#compile-code {
	margin: 0;
	padding: 15px;
	border-top: 1px dashed #a24444;
	border-bottom: 1px dashed #a24444;
	border-right: none;
	border-left: none;
	overflow-x: auto;
}

#train-code {
	margin: 0;
	padding: 15px;
	overflow-x: auto;
}

@media (min-width: 1750px) {
	#model-code {
		width: 33%;
		padding: 30px;
		margin: 10px 0px;
		float: left;
	}
	#compile-code {
		margin: 10px 0px;
		width: 34%;
		padding: 30px;
		border-right: 2px solid #a24444;
		border-left: 2px solid #a24444;
		border-top: none;
		border-bottom: none;
		padding-bottom: 100%;
		margin-bottom: -100%;
		float: left;
	}
	#train-code {
		width: 33%;
		margin: 10px 0px;
		padding: 30px;
		float: left;
	}
}

// EJEMPLOS

.ejemplos-right {
	position: absolute;
	right: 5%;
	margin-top: 4px;
}
.ejemplos-left {
	position: absolute;
	left: 5%;
	margin-top: 4px;
}

.open-modal {
	right: 2%;
}

.open-modal i {
	font-size: initial;
}

.alert {
	margin: 0 !important;
	border-radius: 5px;
}

.ejemplos-right:hover,
.ejemplos-left:hover {
	cursor: pointer;
}

.panel-ejemplos {
	text-align: center;
}

.prediction-canvas {
	width: 100px;
	border-radius: 5px;
	// border: 3px solid #bc9180;
}

.pred-mal {
	border: 3px solid rgb(255, 0, 0);
}
.pred-bien {
	border: 3px solid rgb(7, 163, 7);
}

.pred-mal:hover,
.pred-bien:hover {
	cursor: pointer;
}

.prediction-container {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 0;
}

.loader {
	text-align: center;
	width: 100%;
	margin-top: 50%;
}

.loader-wheel {
	animation: spin 1s infinite linear;
	border: 4px solid black;
	border-left: 4px solid #ebebeb;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: 40%;
}

.loader-text {
	color: black;
	margin-top: 15px;
}

.loader-text:after {
	content: 'Cargando';
	animation: load 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes load {
	0% {
		content: 'Cargando';
	}
	33% {
		content: 'Cargando.';
	}
	67% {
		content: 'Cargando..';
	}
	100% {
		content: 'Cargando...';
	}
}
