::-webkit-scrollbar-track {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}
::-webkit-scrollbar {
	background-color: #f5f5f5;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	box-shadow: 0 0 6px rgba(0, 0, 0, .3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #05668d;
}

.titulo-seccion,
.btn-mostrar-codigo {
	color: white;
	background-color: #05668d;
	font-size: initial;
	text-align: center;
	padding: 5px 0px;
	border-radius: 5px;
}

// .btn-mostrar-codigo {
// 	text-align: center;
// 	color: white;
// 	background-color: #05668d;
// 	font-size: initial;
// 	padding: 5px 0px;
// 	border-radius: 5px;
// }

.btn-mostrar-codigo:hover {
	cursor: pointer;
}

.ejemplos-right {
	position: absolute;
	right: 5%;
	margin-top: 4px;
}
.ejemplos-left {
	position: absolute;
	left: 5%;
	margin-top: 4px;
}

.recargar:hover {
	cursor: pointer;
}

#predict-canvas,
#preview-canvas {
	border: 1px solid #05668d;
	border-radius: 3px;

	background: white;
}
#preview-canvas {
	margin-left: 10px;
}

.boton {
	background-color: #05668d;
	border-color: #05668d;
	box-shadow: none;
}

.generales {
	padding: 10px 15px;
	border: none;

	h5 {
		text-align: center;
		text-transform: uppercase;
		// text-decoration: underline;
		padding: 0px 0px;
		margin: 0px;
		margin-bottom: 10px;
	}

	h6 {
		padding: 5px 0px;
		margin: 0px;
	}

	p {
		text-align: justify;
	}

	.regularizacion {
		display: inline-block;
		width: 49%;
	}

	input[type="number"]:disabled {
		opacity: 0.4;
	}
}

.form-control {
	// border: none;
	border: 1px solid #05668d;
	border-radius: 5px;
	background: #f9f9f9;
	box-shadow: none;
}

.form-control:focus {
	outline: none !important;
}

.row {
	//border-bottom: 2px solid #05668d;
	margin: 5px 0px 0px 0px !important;
}

.input-batch {
	.form-check-input {
		display: inline-block;
		margin-top: 10px;
		margin-left: 0;
	}
	.form-control {
		width: 95%;
		float: right;
		margin-bottom: 5px;
	}
}

.tabla-entrenamiento {
	table-layout: fixed;
	text-align: center;
	color: black;
}

.tabla-entrenamiento tbody {
	border-bottom: 1px solid #dee2e6;
}

.tabla-red {
	width: 100%;
	table-layout: fixed;
	//padding: 10px 15px;
	border: none;
	// margin: 0;
	// padding: 0px;

	tr {
		text-align: center;
	}
	th,
	td {
		vertical-align: middle;
	}

	th,
	td {
		border-top: none;
		padding: 10px 10px;
	}

	thead tr th:first-child,
	tbody tr td:first-child {
		width: 5%;
	}

	thead tr th:last-child,
	tbody tr td:last-child {
		width: 20%;
	}

	.disabled_layer {
		opacity: 0.7;
	}

	.fa-times:hover,
	fa-chevron-up:hover,
	fa-chevron-down:hover {
		color: red;
		cursor: pointer;
	}
}

.entrenamiento {
	//border-top: 2px solid #05668d;

	.btn-entrenar {
		display: inline-block;
		margin: 10px 10px 10px 0px;
	}

	.train-bar {
		height: auto;
		align-items: center;
		border: 1px solid #05668d;

		.progress-bar {
			text-align: center;
		}

		span {
			position: absolute;
			font-size: x-large;
			text-align: center;
		}
	}

	.progress-opaco {
		opacity: 0.4;
	}

	.progress-bar-striped {
		width: 0%;
		height: 38px;
		text-align: center;
		color: black;
		vertical-align: middle;
		font-size: x-large;
	}

	.datos-accuracy {
		margin: 10px 0px;
		display: inline-block;
	}

	.boton-guardar {
		// display: inline-block;
		margin: 10px 0px;
	}
}

.boton-cargar {
	margin: 10px 0px;
	width: 100%;
}
.codigo {
	text-align: center;
	font-size: small;
	margin-bottom: 10px !important;
}

.codigo p {
	margin: 5px 0px;
	text-align: start;
	white-space: pre;
}

.container-codigo {
	overflow: hidden;
}

#model-code {
	margin: 10px 0px;
	padding: 30px;
	float: left;
}
#compile-code {
	margin: 10px 0px;
	border-right: 2px solid #05668d;
	border-left: 2px solid #05668d;
	padding: 30px;
	padding-bottom: 100%;
	margin-bottom: -100%;
	float: left;
}
#train-code {
	margin: 10px 0px;
	padding: 30px;
	float: left;
}

@media (max-width: 1350px) {
	#model-code {
		padding: 15px;
		margin: 0;
	}
	#compile-code {
		margin: 0;
		padding: 15px;
		border-top: 1px dashed #05668d;
		border-bottom: 1px dashed #05668d;
		border-right: none;
		border-left: none;
	}
	#train-code {
		margin: 0;
		padding: 15px;
	}
}

// .titulo-seccion {
// 	color: white;
// 	background-color: #05668d;
// 	font-size: initial;
// 	//margin: 5px;
// 	padding: 5px 0px;
// }

// p {
// 	margin: 5px 0px;
// 	text-align: start;
// 	white-space: pre;
// }

.prediction-canvas {
	width: 100px;
	border-radius: 5px;
	border: 3px solid #05668d;
}

.pred-mal {
	border: 3px solid rgb(255, 0, 0);
}
.pred-bien {
	border: 3px solid rgb(7, 163, 7);
}

.panel-ejemplos {
	text-align: center;
}

.prediction-container {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 0;
}

.loader {
	text-align: center;
	width: 100%;
	margin-top: 50%;
}

.loader-wheel {
	animation: spin 1s infinite linear;
	border: 4px solid black;
	border-left: 4px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: 40%;
}

.loader-text {
	color: black;
	margin-top: 15px;
}

.loader-text:after {
	content: 'Cargando';
	animation: load 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes load {
	0% {
		content: 'Cargando';
	}
	33% {
		content: 'Cargando.';
	}
	67% {
		content: 'Cargando..';
	}
	100% {
		content: 'Cargando...';
	}
}

#example-preview {
	text-align: center;

	.canvas-rojo {
		border: 3px solid rgb(255, 0, 0);
	}

	.mal-pred {
		color: rgb(206, 9, 9);
		font-weight: bold;
	}

	.bien-pred {
		color: rgb(7, 163, 7);
		font-weight: bold;
	}
}

.cartel {
	font-size: large;
	margin: 10px 0px;
	text-align: center;
}

.botones-canvas,
.canvaces {
	margin: 10px 0px;
}

.preds {
	visibility: hidden;
	height: 0px;
}
.graficos {
	visibility: hidden;
	height: 0px;
}
