.row {
	margin: 0;
}
.texto {
	padding: 15px 10px;
	text-align: justify;
}

.titulo {
	background: #355261;
	color: white;
	font-size: large;
	padding: 10px 20px;
	margin-top: 2px;
	text-align: center;
}

.titulo:hover {
	cursor: pointer;
}

.informacion {
	text-align: justify;
	padding: 20px 30px;
	background: #ebebeb;
	white-space: pre-line;
}
